---
import GitHub from "@/icons/GitHub.astro";
import Section from "../Section.astro";

import { projects } from "@cv";
---

<Section title="Proyectos">
  <ul class="grid grid-cols-[repeat(auto-fit, minmax(200px,1fr)) gap-4">
    {
      projects.map(
        ({ url, description, highlights, name, isActive, github }) => {
          return (
            <li class="hover:scale-[1.01] transition-all">
              <article class="rounded-lg border border-[#f2f2f2] gap-4 flex flex-col p-4 h-full dark:border-none dark:bg-[#1E293B]">
                <header class="flex-1">
                  <h3 class="mb-1 font-medium">
                    <a
                      class="text-[#111] hover:underline"
                      href={url}
                      target="_blank"
                      title={`Ver el proyecto ${name}`}
                    >
                      {name}
                    </a>
                    {isActive && (
                      <span class="text-[rgb(0,188,47)] dark:text-[rgb(0,188,47)]">
                        •
                      </span>
                    )}
                    {github && (
                      <a
                        class=" inline-block ml-1"
                        href={github}
                        target="_blank"
                        title={`Ver código fuente del proyecto ${name}`}
                      >
                        <GitHub />
                      </a>
                    )}
                  </h3>
                  <p class=" text-sm mb-1">{description}</p>
                </header>
                <footer class="flex flex-wrap gap-1 text-[0.6rem]">
                  {highlights.map((highlight) => {
                    return (
                      <span class="dark:bg-[#256acb] dark:text-white inline-flex font-medium py-1 px-3 text-[#444] bg-[#eee] rounded-md">
                        {highlight}
                      </span>
                    );
                  })}
                </footer>
              </article>
            </li>
          );
        }
      )
    }
  </ul>
</Section>
